.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    min-height: 4rem;
    
}



.refresh-button {
    width: 2rem;
    height: auto;
    border: 1px dashed rgb(66, 66, 66);
    border-radius: 100%;
    padding: 0.2rem;
    background-color: rgba(151, 184, 197, 0.582);
    cursor: pointer;
    
}

.refresh-button:hover {
    background-color: rgba(133, 161, 172, 0.582);
}

.loading {
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgb(17, 17, 17);
}

.item {
    display: flex;
    width: 60%;
    min-height: 15rem;
    justify-content: space-between;
    margin-bottom: 2rem;

    background-color: rgba(151, 184, 197, 0.582);
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 0 4px rgb(131, 131, 131);
}

.leftbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    min-width: 30%;
}

.item-name {
    font-size: 1.5rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(17, 17, 17);
    border-radius: 100%;
    width: 12rem;
    height: 12rem;
    background-color: rgba(87, 86, 170, 0.514);
    box-shadow: 0 0 10px rgb(112, 86, 224);
}

.item-image {
    max-width: 67%;
    height: auto;
    max-height: 92%;
}

.rightbox {
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-width: 70%;
}

.rightbox-container {
    background-color: rgba(101, 139, 131, 0.11);
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
    padding: 0.2rem;
    border-radius: 2px;
}

.rightbox-section {
    display: flex;
    justify-content: left;
}

.rightbox-section-1 {
    font-size: 1.2rem;
    min-width: 50%;
}

.rightbox-section-2 {
    font-size: 1.1rem;
    min-width: 40%;
}

.rightbox-section-3 {
    text-align: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 50px;
    padding: 2px
}

.rightbox-extended {
    margin: 0;
}

.extended-line {
    display: flex;
    min-width: 94%;
    background-color: rgba(207, 223, 236, 0.726);
    margin-bottom: 0.2rem;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 0.95rem;
    
}

.extended-line:focus {
    border: 2px solid rgba(49, 111, 245, 0.692);
    /* outline: 1px solid rgba(49, 111, 245, 0.692); */
    outline: 0;
}

@media(max-width: 1600px) {
    .item {
        width: 70%;
    }
}

@media(max-width: 1200px) {
    .item {
        width: 75%;
    }
}

@media(max-width: 1000px) {
    .item {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 800px) {
    .item {
        width: 90%;
    }
}

@media(max-width: 500px) {
    .item {
        width: 95%;
    }
}